<!DOCTYPE html>
<html>
<head>
    <title>DFIS</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Digital Footprint Intelligence Scanner</h1>

        <div class="scan-box">
            <input type="email" id="email" placeholder="target@example.com">
            <button onclick="startScan()">Start Scan</button>
        </div>

        <div class="terminal" id="terminal">
            <p>[+] OSINT modules initialized...</p>
        </div>

        <div id="results"></div>
    </div>

<script src="/static/js/main.js"></script>
</body>
</html>